<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dynamicisland">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="Dynamic Island Calibrator"
        android:theme="@android:style/Theme.DeviceDefault">

        <!-- Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Island Calibrator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        
        <meta-data
            android:name="xposedscope"
            android:value="com.android.systemui" />
        
        <meta-data
            android:name="xposeddescription"
            android:value="Adjustable Dynamic Island with Interactive Gestures" />
        
        <meta-data
            android:name="xposedminversion"
            android:value="93" />

    </application>
</manifest>
