<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ब्राइटनेस और वॉल्यूम एडजस्ट करने के लिए आवश्यक अनुमतियां -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="Dynamic Island Calibrator"
        android:theme="@android:style/Theme.DeviceDefault">
        
        <!-- Nothing Phone (2a) Glyph SDK Compatibility Key -->
        <meta-data android:name="NothingKey" android:value="test"/>

        <!-- लॉन्चर ऐप एक्टिविटी -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Island Calibrator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        
        <meta-data
            android:name="xposedscope"
            android:value="com.android.systemui" />
        
        <meta-data
            android:name="xposeddescription"
            android:value="Next-Gen Dynamic Island with Nothing OS Glyph Sync" />
        
        <meta-data
            android:name="xposedminversion"
            android:value="93" />

    </application>
</manifest>
