<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Dynamic Island LSPosed"
        android:theme="@android:style/Theme.DeviceDefault">
        
        <!-- LSPosed को बताने के लिए कि यह एक मॉड्यूल है -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        
        <meta-data
            android:name="xposeddescription"
            android:value="Dynamic Island Hook for Nothing Phone 2a (Android 16+)" />
        
        <meta-data
            android:name="xposedminversion"
            android:value="93" />

    </application>
</manifest>
